<p id="notice"><%= notice %></p>

<div class="row title">
  <div class="col-md-8">
      <h2 >TIPOS DE GASTOS</h2>
  </div>
  <div class="col-md-4">
      <%= link_to 'Crear tipo de gasto', new_type_spend_path, class: "btn btn-primary" %>
  </div>
  
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Descripcion</th>
      <th>Codigo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_spends.each do |type_spend| %>
      <tr>
        <td><%= type_spend.name %></td>
        <td><%= type_spend.description %></td>
        <td><%= type_spend.code %></td>

        <td><%= link_to type_spend, class: "btn btn-info" do %>
        <i class="fas fa-eye"></i>
        <% end -%>
        <%= link_to edit_type_spend_path(type_spend), class: "btn btn-info" do %>
        <i class="fas fa-pencil-alt"></i>
        <% end -%>
        <%= link_to type_spend, method: :delete, data: { confirm: 'Estas Seguro?' }, class: "btn btn-danger" do %>
        <i class="fas fa-trash-alt "></i>
        <% end -%>
          
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


