<div class="card" style="margin-top: 30px;">
  <div class="card-body">
      <%= form_with(model: invoice, local: true) do |form| %>
        <% if invoice.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

            <ul>
            <% invoice.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

          <div class="col-md-3 no-padding-left">
            <%= form.label "Cliente" %>
            <%= form.text_field :client, id: :invoice_client, class: "form form-control", :placeholder => "Cliente" %>
          </div>

          <div class="col-md-3">
            <%= form.label "Numero de Cuenta" %>
            <%= form.text_field :account_number, id: :invoice_account_number, class: "form form-control", :placeholder => "Numero de Cuenta" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Ciudad" %>
            <%= form.text_field :city, id: :invoice_city, class: "form form-control", :placeholder => "Ciudad" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Direccion" %>
            <%= form.text_field :address, id: :invoice_address, class: "form form-control", :placeholder => "Direccion" %>
            <br>
          </div>

          <div class="col-md-3 no-padding-left">
            <%= form.label "Telefono" %>
            <%= form.text_field :phone, id: :invoice_phone, class: "form form-control", :placeholder => "Telefono" %>
          </div>

          <div class="col-md-3">
            <%= form.label "Codigo del Cliente" %>
            <%= form.text_field :client_code, id: :invoice_client_code, class: "form form-control", :placeholder => "Codigo del Cliente" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Nit del Cliente" %>
            <%= form.text_field :nit, class: "form form-control", :placeholder => "Nit del Cliente" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Condiciones de pago" %>
            <%= form.text_field :payment_conditions, id: :invoice_payment_conditions, class: "form form-control", :placeholder => "Condiciones de pago" %>
          </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

          <div class="col-md-4 no-padding-left">
            <%= form.label "Fecha del Servicio" %>
            <%= form.date_field :service_date, id: :invoice_service_date, class: "form form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label "Cantidad" %>
            <%= form.number_field :quantity, id: :invoice_quantity, class: "form form-control", :placeholder => "Cantidad" %>
            <br>
          </div>

          <!--
          <div class="col-md-4 no-padding-right">
            <%# form.label "Valor Servicio" %>
            <%# form.text_field :service_value, id: :invoice_service_value, class: "form form-control", :placeholder => "Valor del servicio" %>
            <br>
          </div>
          -->

          <div class="col-md-12 no-padding">
            <%= form.label "Descripcion" %>
            <%= form.text_area :description, id: :invoice_description, class: "form form-control", :rows => 10, :placeholder => "Descripcion" %>
            <br>
          </div>

          <div class="col-md-4 no-padding-left">
            <%= form.label "Valor Unitario del Servicio" %>
            <%= form.text_field :unit_value, id: :invoice_unit_value, class: "form form-control", :placeholder => "Valor Unitario" %>

            <%= form.hidden_field :unit_value, id: "valor_uni" %>
            <br>
          </div>

          <div class="col-md-4 no-padding-left">
            <%= form.label "Valor Total del Servicio" %>
            <%= form.text_field :total_value, id: :invoice_total_value, class: "form form-control", :placeholder => "Valor Total" %>

            <%= form.hidden_field :total_value, id: "valor_to" %>
          </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

            <div class="col-md-3 no-padding-left">
              <%= form.label "SubTotal" %>
              <%= form.text_field :subtotal, id: :invoice_subtotal, class: "form form-control", :placeholder => "SubTotal" %>

              <%= form.hidden_field :subtotal, id: "sub_value" %>
            </div>

            <div class="col-md-3">
              <%= form.label "Anticipo" %>
              <%= form.text_field :advance, id: :invoice_advance, class: "form form-control", :placeholder => "Anticipo", :data => {:type => 'currency' } %>

              <%= form.hidden_field :advance, id: "advance_value" %>
            </div>

            <div class="col-md-3">
              <%= form.label "Valor Total Factura" %>
              <%= form.text_field :invoice_value, id: :invoice_invoice_value, class: "form form-control", :placeholder => "Precio de la Factura", :data => {:type => 'currency'} %>

              <%= form.hidden_field :invoice_value, id: "invoice_value" %>
              <br>
            </div>

            <div class="col-md-3 no-padding-right">
              <%= form.label "Elaborado Por" %>
              <%= form.text_field :elaborate, id: :invoice_elaborate, class: "form form-control", :placeholder => "Elaborado Por" %>
            </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

          <div class="col-md-4 no-padding-left">
            <%= form.label "Fecha de Factura" %>
            <%= form.date_field :invoice_date, id: :invoice_invoice_date, class: "form form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label "Fecha de Entrega" %>
            <%= form.date_field :date_of_delivery, id: :invoice_date_of_delivery, class: "form form-control" %>
          </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>



        <div class="col-md-12 no-padding">
          <%= form.label "Observaciones" %>
          <%= form.text_area :observations, id: :invoice_observations, class: "form form-control", :rows => 10, :placeholder => "Observaciones" %>
          <br>
        </div>

        <div class="modal-footer col-md-12 no-padding-right">
          <%= form.submit "Guardar", class: "btn btn-info" %>
          <br>
        </div>

      <% end %>

    </div>
</div>

<script type="text/javascript">



  $("#invoice_subtotal").on({

    keyup: function() {
      formatCurrency($(this));
    },

    blur: function() { 
      formatCurrency($(this), "blur");
      var valor = this.value.replace(/[.,*+?^${}()|[\]\\]/g, "")

      document.getElementById("sub_value").value = valor

    }
  });

  $("#invoice_advance").on({

    keyup: function() {
      formatCurrency($(this));
    },

    blur: function() { 
      formatCurrency($(this), "blur");
      var valor = this.value.replace(/[.,*+?^${}()|[\]\\]/g, "")

      document.getElementById("advance_value").value = valor

    }
  });

  $("#invoice_invoice_value").on({

    keyup: function() {
      formatCurrency($(this));
    },

    blur: function() { 
      formatCurrency($(this), "blur");
      var valor = this.value.replace(/[.,*+?^${}()|[\]\\]/g, "")

      document.getElementById("invoice_value").value = valor

    }
  });


  $("#invoice_unit_value").on({

    keyup: function() {
      formatCurrency($(this));
    },

    blur: function() { 
      formatCurrency($(this), "blur");
      var valor = this.value.replace(/[.,*+?^${}()|[\]\\]/g, "")

      document.getElementById("valor_uni").value = valor

    }
  });


  $("#invoice_total_value").on({

    keyup: function() {
      formatCurrency($(this));
    },

    blur: function() { 
      formatCurrency($(this), "blur");
      var valor = this.value.replace(/[.,*+?^${}()|[\]\\]/g, "")

      document.getElementById("valor_to").value = valor

    }
  });




function formatNumber(n) {
  // format number 1000000 to 1,234,567
  return n.replace(/\D/g, "").replace(/\B(?=(\d{3})+(?!\d))/g, ",")
}


function formatCurrency(input, blur) {
  // appends $ to value, validates decimal side
  // and puts cursor back in right position.
  
  // get input value
  var input_val = input.val();
  
  // don't validate empty input
  if (input_val === "") { return; }
  
  // original length
  var original_len = input_val.length;

  // initial caret position 
  var caret_pos = input.prop("selectionStart");
    
  // check for decimal
  if (input_val.indexOf(".") >= 0) {

    // get position of first decimal
    // this prevents multiple decimals from
    // being entered
    var decimal_pos = input_val.indexOf(".");

    // split number by decimal point
    var left_side = input_val.substring(0, decimal_pos);
    var right_side = input_val.substring(decimal_pos);

    // add commas to left side of number
    left_side = formatNumber(left_side);

    // validate right side
    right_side = formatNumber(right_side);
    
    // On blur make sure 2 numbers after decimal
    if (blur === "blur") {
      right_side += "00";
    }
    
    // Limit decimal to only 2 digits
    right_side = right_side.substring(0, 2);

    // join number by .
    input_val = "$" + left_side + "." + right_side;

  } else {
    // no decimal entered
    // add commas to number
    // remove all non-digits
    input_val = formatNumber(input_val);
    input_val = "$" + input_val;
    
    // final formatting
  }
  
  // send updated string to input
  input.val(input_val);

  // put caret back in the right position
  var updated_len = input_val.length;
  caret_pos = updated_len - original_len + caret_pos;
  input[0].setSelectionRange(caret_pos, caret_pos);
}

</script>