<div class="card" style="margin-top: 30px;">
  <div class="card-body">
      <%= form_with(model: invoice, local: true) do |form| %>
        <% if invoice.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(invoice.errors.count, "error") %> prohibited this invoice from being saved:</h2>

            <ul>
            <% invoice.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

          <div class="col-md-3 no-padding-left">
            <%= form.label "Cliente" %>
            <%= form.text_field :client, id: :invoice_client, class: "form form-control", :placeholder => "Cliente" %>
          </div>

          <div class="col-md-3">
            <%= form.label "Numero de Cuenta" %>
            <%= form.text_field :account_number, id: :invoice_account_number, class: "form form-control", :placeholder => "Numero de Cuenta" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Ciudad" %>
            <%= form.text_field :city, id: :invoice_city, class: "form form-control", :placeholder => "Ciudad" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Direccion" %>
            <%= form.text_field :address, id: :invoice_address, class: "form form-control", :placeholder => "Direccion" %>
            <br>
          </div>

          <div class="col-md-3 no-padding-left">
            <%= form.label "Telefono" %>
            <%= form.text_field :phone, id: :invoice_phone, class: "form form-control", :placeholder => "Telefono" %>
          </div>

          <div class="col-md-3">
            <%= form.label "Codigo del Cliente" %>
            <%= form.text_field :client_code, id: :invoice_client_code, class: "form form-control", :placeholder => "Codigo del Cliente" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Nit del Cliente" %>
            <%= form.text_field :nit, class: "form form-control", :placeholder => "Nit del Cliente" %>
          </div>

          <div class="col-md-3 no-padding-right">
            <%= form.label "Condiciones de pago" %>
            <%= form.text_field :payment_conditions, id: :invoice_payment_conditions, class: "form form-control", :placeholder => "Condiciones de pago" %>
          </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

          <div class="col-md-4 no-padding-left">
            <%= form.label "Fecha del Servicio" %>
            <%= form.date_field :service_date, id: :invoice_service_date, class: "form form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label "Cantidad" %>
            <%= form.number_field :quantity, id: :invoice_quantity, class: "form form-control", :placeholder => "Cantidad" %>
            <br>
          </div>

          <!--
          <div class="col-md-4 no-padding-right">
            <%# form.label "Valor Servicio" %>
            <%# form.text_field :service_value, id: :invoice_service_value, class: "form form-control", :placeholder => "Valor del servicio" %>
            <br>
          </div>
          -->

          <div class="col-md-12 no-padding">
            <%= form.label "Descripcion" %>
            <%= form.text_area :description, id: :invoice_description, class: "form form-control", :rows => 10, :placeholder => "Descripcion" %>
            <br>
          </div>

          <div class="col-md-4 no-padding-left">
            <%= form.label "Valor Unitario del Servicio" %>
            <%= form.text_field :unit_value, id: :invoice_unit_value, class: "form form-control", :placeholder => "Valor Unitario" %>
            <br>
          </div>

          <div class="col-md-4 no-padding-left">
            <%= form.label "Valor Total del Servicio" %>
            <%= form.text_field :total_value, id: :invoice_total_value, class: "form form-control", :placeholder => "Valor Total" %>
          </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

            <div class="col-md-3 no-padding-left">
              <%= form.label "SubTotal" %>
              <%= form.text_field :subtotal, id: :invoice_subtotal, class: "form form-control", :placeholder => "SubTotal" %>
            </div>

            <div class="col-md-3">
              <%= form.label "Anticipo" %>
              <%= form.text_field :advance, id: :invoice_advance, class: "form form-control", :placeholder => "Anticipo" %>
            </div>

            <div class="col-md-3">
              <%= form.label "Valor Total Factura" %>
              <%= form.text_field :invoice_value, id: :invoice_invoice_value, class: "form form-control", :placeholder => "Precio de la Factura" %>
              <br>
            </div>

            <div class="col-md-3 no-padding-right">
              <%= form.label "Elaborado Por" %>
              <%= form.text_field :elaborate, id: :invoice_elaborate, class: "form form-control", :placeholder => "Elaborado Por" %>
            </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>

        <div class="form-group col-md-12 no-padding">

          <div class="col-md-4 no-padding-left">
            <%= form.label "Fecha de Factura" %>
            <%= form.date_field :invoice_date, id: :invoice_invoice_date, class: "form form-control" %>
          </div>

          <div class="col-md-4">
            <%= form.label "Fecha de Entrega" %>
            <%= form.date_field :date_of_delivery, id: :invoice_date_of_delivery, class: "form form-control" %>
          </div>

        </div>

        <div class="col-md-12 no-padding">
          <hr>
        </div>



        <div class="col-md-12 no-padding">
          <%= form.label "Observaciones" %>
          <%= form.text_area :observations, id: :invoice_observations, class: "form form-control", :rows => 10, :placeholder => "Observaciones" %>
          <br>
        </div>

        <div class="modal-footer col-md-12 no-padding-right">
          <%= form.submit "Guardar", class: "btn btn-info" %>
          <br>
        </div>

      <% end %>

    </div>
</div>