<div class="row title">
    <div class="col-md-5">
      <h2 >Facturas</h2>
    </div>

  <div class="col-md-4" style="padding-left: 0px; float: right; padding-right: 5px;">
    <%= link_to 'Nueva Factura', new_invoice_path, class: "btn btn-info" %>
  </div>

</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Cliente</th>
      <th>Valor de Factura</th>
      <th>Valor Total</th>
      <th>Elaborada Por</th>
      <th>Facha de Factura</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @invoices.each do |invoice| %>
      <tr>
        <td><%= invoice.client %></td>
        <td><%= number_to_currency(invoice.invoice_value, :precision => 0) %></td>
        <td><%= number_to_currency(invoice.total_value, :precision => 0) %></td> 
        <td><%= invoice.elaborate %></td>
        <td><%= get_date(invoice.invoice_date) %></td>

        <td>

          <%= link_to edit_invoice_path(invoice), class: "btn btn-info" do %>
            <i class="fas fa-edit"></i>
          <% end -%>

          <%= link_to invoice, method: :delete, data: {
                confirm: '¿Estas Seguro?',
                'confirm-button-text': 'Borrar',
                'cancel-button-text': 'Cancelar',
                'confirm-button-color': '#CC0000',
                 text: 'Recuerda que el registro se borrara permanentemente',
                'image-url': ''}, class: "btn btn-danger" do %>
           <i class="fas fa-trash-alt "></i>
          <% end -%>

          <%= link_to pdf_dnuba_path(invoice.id, :format => "pdf"), target: "_blank", class: "btn btn-primary" do %> 
            <i class="fas fa-file-pdf"></i>
          <% end -%>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<!--

        <td><%# invoice.phone %></td>
        <td><%# invoice.payment_conditions %></td>
        <td><%# invoice.date_of_delivery %></td>
        <td><%# invoice.client_code %></td>
        <td><%# invoice.invoice_date %></td>
        <td><%# invoice.service_date %></td>
        <td><%# invoice.quantity %></td>
        <td><%# invoice.address %></td>
        <td><%# invoice.city %></td>
        <td><%# invoice.description %></td>
        <td><%# invoice.unit_value %></td>
        <td><%# invoice.total_value %></td>
        <td><%# invoice.subtotal %></td>
        <td><%# invoice.advance %></td>
        <td><%# invoice.elaborate %></td>
        <td><%# invoice.observations %></td>
        <td><%# invoice.service_value %></td>
        <td><%# invoice.invoice_value %></td>
        <td><%# invoice.account_number %></td>
-->