<p id="notice"><%= notice %></p>


<div class="row title">
  <div class="col-md-8">
      <h2 >INGRESOS</h2>
  </div>
  <div class="col-md-4">
      <%= link_to 'Crear', new_income_path, class: "btn btn-primary" %>
  </div>
  
</div>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha de Ingreso</th>
      <th>Descripcion</th>
      <th>Tipo de Ingreso</th>
      <th>Valor</th>
    
      <th>Centro de Costo</th>
      <th>Soporte</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @incomes.each do |income| %>
      <tr>
        <td><%= income.income_date %></td>
        <td><%= income.description %></td>
        <td><%= income.type_income %></td>
        <td><%= number_to_currency(income.value).chomp(".00") %></td>
        <td><%= income.cost_center.name %></td>
        <td><%= link_to "Descargar Soporte", income.file_url if income.file_url %>
        <%= link_to income, class: "btn btn-info" do %>
        <i class="far fa-eye"></i>
        <% end -%>
        <%= link_to edit_income_path(income), class: "btn btn-info" do %>
        <i class="fas fa-pencil-alt"></i>
        <% end -%>
        <%= link_to income, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btn btn-danger" do %>
         <i class="fas fa-trash-alt "></i>
        <% end -%>
      </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


