<div class="row title">
  <div class="col-md-8">
      <h2 >CONCTACTOS</h2>
  </div>
</div>

<% if @contact.any? %>
 <table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Email</th>
      <th>Subject</th>
      <th>Mensage</th>
    </tr>
  </thead>
<tbody>
	<% @contact.each do |contact| %>
	 	<tr>
	        <td><%= contact.name%></td>
	        <td><%= contact.email%></td>
	        <td><%= contact.subject%></td>
	        <td><%= contact.message%></td>
          <td>
            <%= link_to delete_contact_path(contact.id),method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btn btn-danger" do  %>
            <i class="fas fa-trash-alt "></i>
            <% end -%>
          </td>

	    </tr>
	<% end -%>
  </tbody>
</table>
<% else %>
<br>
<div class="jumbotron">
    <h3 align="center">Todavia No Nos han contactado</h3>
</div>
<% end %>