<div class="row title">
  <div class="col-md-8">
      <h2 >CENTROS DE COSTOS</h2>
  </div>
  <div class="col-md-4">
      <%= link_to 'Crear', new_cost_center_path, remote: true, class: "btn btn-primary" %>
  </div>
  
</div>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Codigo</th>
      <th>Ingresos</th>
      <th>Gastos</th>
      <th>Diferencia</th>
      <th class="alinear">Total de horas Trabajadas</th>
      <th class="center">Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @cost_center.each do |cost_center| %>
      <tr>
        <td><%= cost_center.name %></td>
        <td><%= cost_center.code %></td>
        <td><%= number_to_currency(cost_center.incomes.sum(:value)).chomp(".00") %></td>
        <td><%= number_to_currency(cost_center.general_spends.sum(:value)).chomp(".00") %></td>
        <td><%= number_to_currency(cost_center.incomes.sum(:value) - cost_center.general_spends.sum(:value)).chomp(".00") %></td>
        <td class="text-center"><%= CostOfHoursCenter.where(cost_center_id: cost_center.id).sum("hours")%> Horas</td>

        <td><%= link_to cost_center, class: "btn btn-info" do %>
          <i class="far fa-eye"></i>
          <% end -%>
        <%= link_to edit_cost_center_path(cost_center), class: "btn btn-info", remote: true do %>
        <i class="fas fa-pencil-alt"></i>
        <% end -%>
        <%= link_to cost_center,method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btn btn-danger" do %>
        <i class="fas fa-trash-alt "></i>
        <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<style type="text/css" media="screen">

  .center{
    text-align: center;
    width: 13%;
  }

  .alinear{
    text-align: center;
    width: 17%;
  }

</style>