 



<p id="notice"><%= notice %></p>

<div class="panel panel-default">
  <div class="panel-body">
    <div class="row">
        <div class="col-md-8">
            <h2 style="    color: #858585;"><strong>Centro de Costo:</strong> <%= @cost_center.name %><br><strong style="">Codigo:</strong> <%= @cost_center.code %></h2> 
        </div>
        <div class="col-md-4">
            <div class="alert alert-success" role="alert">
              <h2 class="text-right" style="margin: 0px;text-align: center;"> <strong style="margin-left: 20px;">PyG:</strong> <%= number_to_currency(@cost_center.incomes.sum(:value) - @cost_center.general_spends.sum(:value)).chomp(".00")%></h2>
              </div>
        </div>
      
    </div>
    
  </div>
</div>






<div class="row title">
  <h3>INGRESOS</h3>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Fecha de Ingreso</th>
      <th>Descripcion</th>
      <th>Tipo de Ingreso</th>
      <th>Valor</th>
    

      <th>Soporte</th>

    </tr>
  </thead>

  <tbody>
    <% @cost_center.incomes.each do |income| %>
      <tr>
        <td><%= income.income_date %></td>
        <td><%= income.description %></td>
        <td><%= income.type_income %></td>
        <td><%= number_to_currency(income.value).chomp(".00") %></td>
     
         <td><%= link_to "Descargar Soporte", income.file_url if income.file_url %></td>
     
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
    <div class="col-md-12 text-right">
        <h2 style="color: #959595;">Total Ingresos: <%= number_to_currency(@cost_center.incomes.sum(:value)).chomp(".00") %> </h2>
    </div>
</div>    
<hr>
<div class="row title">
    <h3>GASTOS</h3>
</div>

<table class="table table-striped">
  <thead>
    <tr>
    <th>Fecha de Gasto</th>
      <th>Descripcion</th>
      <th>Tipo de Gasto</th>
      <th>Valor</th>
 
   
      <th>Evidencia</th>
     
    </tr>
  </thead>

  <tbody>
    <% @cost_center.general_spends.each do |general_spend| %>
      <tr>
      <td><%= general_spend.spend_date %></td>
        <td><%= general_spend.description %></td>
        <td><%= general_spend.type_spend.name %></td>
       
        <td><%= number_to_currency(general_spend.value).chomp(".00") %></td>
      

        <td><%= link_to "Descargar Soporte", general_spend.file_url if general_spend.file_url%></td>
      
      </tr>
    <% end %>
  </tbody>
</table>
<div class="row">
    <div class="col-md-12 text-right">
<h2 style="color: #959595;">Total Gastos: <%= number_to_currency(@cost_center.general_spends.sum(:value)).chomp(".00") %></h2>

    </div>
</div>   

