<p id="notice"><%= notice %></p>


<div class="row title">
  <div class="col-md-8">
      <h2 >GASTOS GENERALES</h2>
  </div>
  <div class="col-md-4">
      <%= link_to 'Crear', new_general_spend_path, class: "btn btn-primary" %>
  </div>
  
</div>


<table class="table table-striped">
  <thead>
    <tr>
    <th>Fecha de Gasto</th>
      <th>Descripcion</th>
      <th>Tipo de Gasto</th>
      <th>Valor</th>
      <th>Responsable</th>
      <th>Centro de Costo</th>
      <th>Soporte</th>
      <th>Acciones</th>
    </tr>
  </thead>

  <tbody>
    <% @general_spends.each do |general_spend| %>
      <tr>
      <td><%= general_spend.spend_date %></td>
        <td style="width: 100px"><%= general_spend.description %></td>
        <td><%= general_spend.type_spend.name if general_spend.type_spend  %></td>
       
        <td><%= number_to_currency(general_spend.value).chomp(".00") %></td>
         <td><%= general_spend.user.email %></td>
        <td><%= general_spend.cost_center.name %></td>
        <td>
        <%= link_to  general_spend.file_url , class: "btn btn-primary" do%>
            <i class="fa fa-download"></i>
        <%end%>
        </td>

        <td>
        <%= link_to general_spend, class: "btn btn-info" do  %>
        <i class="far fa-eye"></i>
        <% end -%>
        
        
        <%= link_to edit_general_spend_path(general_spend), class: "btn btn-info" do %>
        <i class="fas fa-pencil-alt"></i>
        <% end -%>
        <%= link_to  general_spend, method: :delete, data: { confirm: 'Estas Seguro?' }, class: "btn btn-danger" do %>
        <i class="fas fa-trash-alt"></i>
        <% end -%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<style type="text/css">
  #hola{
    background-color: red !important;
  }
</style>