<div class="container">
    <div class="col-sm-10 col-sm-offset-1 ">
      <%= form_with(model: post, local: true) do |form| %>
        <% if post.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

            <ul>
            <% post.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
            </ul>
          </div>
        <% end %>

        <div class="field">
          <%= form.label :Titulo %>
          <%= form.text_field :name, id: :post_name, class: "form form-control" %>
        </div>
        <br>
        <div class="field">
          <%= form.label :body %>
          <%= form.text_area :body, id: :post_body, class: "text ckeditor"%>
        </div>
        <br>
         <%= form.label "Para la Categoria" %><br>
         <%= form.select :category_id,Category.all.map { |u| [u.name, u.id] },{ include_blank: false },{ class: 'form form-control'  }%>
        <br>

        <%= form.hidden_field :user_id, :value => current_user.id%><br>

        <div class="actions">
          <%= form.submit "Guardar", class: "btn btn-info" %>
          <%= link_to 'Volver', posts_path, class: "btn btn-info" %>
        </div>
        <br>
      <% end %>
    </div>
  </div>
</div>

<style type="text/css">

  .text{
    resize: none;
    height: 200px !important;
    width: 100%;
    border-spacing: all;
    border-left: 6px solid #0404B4;
  }

  .form{
    border-left: 6px solid #0404B4;
  }

</style>