<div class="container" style="margin-top: 0px;">
   <div class="row title">
    <div class="col-md-1">
      <h2 >Post</h2>

    </div>

    <div class="col-md-4" style="padding-right: 10px; padding-left: 0px; width: 299px; float: right;">

      <%= form_tag posts_path, :method => 'get' do%>
      
        <%= text_field_tag :search, params[:search], autocomplete: "off", :requerid => true, placeholder: "Buscar Por Titulo", class: "search"%>

        <%= button_tag class: "btn btn-primary sh3", :title => "Buscar Registros" do %>
        <i class="fas fa-search" style=""></i>
        <% end -%>

        <%= link_to posts_path, :title => "Cancelar Filtros", class: "btn btn-danger", id: "btn3" do%>
          <i class="fas fa-ban"></i>
        <% end -%> 

      <% end -%>

    </div>

  <div class="col-md-4" style="padding-left: 0px; float: right; padding-right: 5px;">


    <%= link_to 'Nuevo Post', new_post_path, class: "btn btn-info" %>
    <%= link_to "Nueva categoria" , new_category_path, remote: true ,class: "btn btn-info"%>
  </div>
</div>
  <br>
<div class="container-fluid">
    <% @post.each do |post| %>
      <ul class="list-group">
        <h4><%= link_to post.name, post%></h4>
          <br>
          <div class="contenido">
            
          
          <p><%== post.body %></p>
          </div>
          <br>
          <b>Escrito por:</b> <%= post.user.email if post.user%>
          <br>
          <b>Categoria: </b><%= post.category.name if post.category%>
          <br>
          <br> 
                  
          <div class="row">
          <div class="col-md-8">
              <%= link_to edit_post_path(post), class: "btn btn-info" do %>
              <span class="glyphicon glyphicon-wrench"></span>
              <% end %>

              <%= link_to post, method: :delete, data: {
              confirm: '¿Estas Seguro?',
              'confirm-button-text': 'Borrar',
              'cancel-button-text': 'Cancelar',
              'confirm-button-color': '#CC0000',
               text: 'Recuerda que el registro se borrara permanentemente',
              'image-url': ''}, class: "btn btn-danger" do%>
              <span class="glyphicon glyphicon-trash"></span>
              <% end -%>
          </div>
              <div class="col-md-4 text-right">
                  <%= link_to cambios_path(post.id),remote: true, method: :post do %>   
              <% if post.estado == true %>
                <span id="hola<%= post.id %>" class="glyphicon glyphicon-star" style = "font-size:30px;color:#eeee00"></span>
               
                <% else%>
               
                <span id="hola<%= post.id %>" class="glyphicon glyphicon-star" style = "font-size:30px;color:gray"></span>

              <% end -%>
            <% end -%>
              </div>
              
              
          </div>
      </ul>
    <% end %>
  </div>

 <div class="col-md-12 paginate text-center title-table1">
        <%= will_paginate @post, renderer: BootstrapPagination::Rails, previous_label: "Anterior", next_label: "Siguiente", inner_window: 1, outer_window: 0 %>
  </div>

<br>
  
  <br>
<br>
</div>
<style>
  .contenido
  {
    max-height: 105px;
    overflow: hidden;
  }
  .container-fluid{

    padding: 0px;

  }


  #btn3{
    background: red !important;
    border-color: red !important;
    color: #fff !important;
  }

  .search{
    padding: 6px 10px;
    color: gray !important;

  }

  a:hover{
    text-decoration: none;
  }

  ul{
    padding: 0px 0px 0px 0px ;
  }

  .list-group{
      border: 6px solid white;
      border-radius: 15px;
      background-color: white;
      padding: 10px 35px;
  }

  .glyphicon-heart{
    color: red;
   
  }


  body{
    background-color: #E5E8E8;
  }


  p{
    padding: 0px 0px !important;
    margin-bottom: 0px;
  }

  h4{
    margin-top: 0px;
    margin-bottom: 0px ;
  }
  b {
    color: #3361FF; 
    margin-bottom: 10px;
  }
</style>

<script>

   $(document).ready(function (){
    $("#prin").keyup(function () {
        $("#cambio").css({'display':'block'});
    });
  });


</script>