<div class="container" style="margin-top: 5%;">
  	<div class="col-md-8 col-md-offset-2">
	<p id="notice"><%= notice %></p>

	<% unless @post.user.nil? %>
	  <ul class="list-group">
		<p>
		  <strong>Titulo:</strong><br>
		  <br>
		  <%= @post.name %>
		</p>

		<p>
		  <strong>Descripcion:</strong><br>
		  <br>
		  <%== @post.body %>
		</p>

		<p>
		  <strong>Escrito por:</strong><br>
		  <br>
		  <%= @post.user.email %>
		</p>

		<p>
		  <strong>Categoria:</strong><br>
		  <br>
		  <%= @post.category.name %>
		</p>
	  </ul>
	<% end %>


	<br>

	<%= link_to 'Editar', edit_post_path(@post), class: "btn btn-info" %> 
	<%= link_to 'Volver', posts_path, class: "btn btn-info" %>

  </div>
</div>

<style type="text/css">
	  body{
    background-color: #E5E8E8;
  }

</style>