<div id="product-modal" class="modal fade">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header" style="padding: 0px;">
    
            <div class="container-fluid" style="background-color: black;">
              <div class="col-md-9">
                  <% if action_name == "edit"%>
                    <br>
                    <h4 class="modal-title">Editar Categoria</h4>
                    <br>
                  <%else%>
                    <br>
                    <h4 class="modal-title">Crear Categoria</h4>
                    <br>
                  <% end -%>
              </div>

              <div class="col-md-3 text-right " style="padding-top: 10px !important;">
                <img width="55px" src="https://dnuba.s3.amazonaws.com/uploads/bank_image/achivo/3/Logos%C3%ADmbolo_dnuba__2_-02.png">
              </div>
            
            </div>

        </div>
    <%= form_with(model: category, local: true) do |form| %>
  <div class="modal-body">
      <% if category.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

          <ul>
          <% category.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
          </ul>
        </div>
      <% end %>
      <div class="col-md-4" style="padding: 0px;">
        <div class="field">
          <%= form.label :Nombre %><br>
          <%= form.text_field :name, id: :category_name, :required => true, class: "form form-control"   %>
        </div>
        <br>
      </div>
    <br>


      <br><br>
        <div class="field"><br>
          <%= form.label :Descripcion %><br>
          <%= form.text_area :description, id: :category_description, class: "form form-control textarea1" %>
        </div>
      </div>
     <br>

        <div class="modal-footer"">

           <%= form.submit "Guardar", class: "btn btn-info", id: "btn3" %>
          <button type="button" class="btn btn-default" data-dismiss="modal">Cerrar</button> 
         <% end -%>
  </div>
</div>



<style type="text/css">

.form{
  border-bottom: 2px solid #3792F8; 
}

#btn3{
  background-color: #40A2DE;
  border-color: #40A2DE;
}

.modal-body{
  padding-bottom: 0px;
}

.modal-footer{
  background-color: black;
  padding: 10px;
  border-bottom: 4px solid #40A2DE;
}

.modal-header{
  border-top: 4px solid #40A2DE;
}

.textarea1{
  height: 127px !important;
  resize: none;
}
h4{
  font-size: 22px;
  color: #40A2DE;
  text-transform: capitalize;
}
</style>
