<!DOCTYPE html>
<html>
  <head>
    <title>Administracion</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
    <link rel="icon" href="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/183/Isotipo_dnuba__2_-01.png">
    <link rel="apple-touch-icon" href="https://mybc1.s3.amazonaws.com/uploads/rseguimiento/evidencia/183/Isotipo_dnuba-01.png">
    <link rel="apple-touch-icon" sizes="72x72" href="assets/img/template/icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="assets/img/template/icon-114x114.png">

  </head>

  <body>

<%admin_menu%>
<%if user_signed_in?%>
  <div id='cssmenu'>
    <ul>
     <li class="<%= @admin[0]%>"> <%= link_to "Centro de Costos", cost_centers_path, class: "" %></li>
     <li class="<%= @admin[1]%> "><%= link_to "Tipo De Gastos", type_spends_path , class: ""%></li>
     <li class="<%= @admin[2]%>" ><%= link_to "Gastos Generales", general_spends_path , class: ""%></li>
     <li class="<%= @admin[3]%>" ><%= link_to "Ingresos", incomes_path , class: ""%></li>
     <li class="<%= @admin[4]%>" ><%= link_to "Contactos", contacts_path , class: ""%></li>
     <li class="<%= @admin[5]%>" ><%= link_to "Usuarios", usuarios_path  , class: ""%></li>
     <li class="<%= @admin[6]%>" ><%= link_to "Base de Conocimiento", posts_path , class: ""%></li>
     <li class="<%= @admin[7]%>" ><%= link_to "Cerrar Session", destroy_user_session_path, method: :delete %></li>
    </ul>
  </div>
<%end%>

<br>
<br>


<div class="container">
  <%= yield %>
</div>
 

    
  </body>
</html>
