<!DOCTYPE html>
<html>
  <head>
    <title>Dnuba</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%if user_signed_in? %>
  <%= link_to "CENTROS DE COSTOS", cost_centers_path, class: "menu btn btn-info" %>
  <%= link_to "TIPOS DE GASTOS", type_spends_path , class: "menu btn btn-info"%>
  <%= link_to "GASTOS GENERALES", general_spends_path , class: "menu btn btn-info"%>
  <%= link_to "INGRESOS", incomes_path , class: "menu btn btn-info"%>
  <%= link_to "CERRAR SESION", destroy_user_session_path, method: :destroy , class: "menu btn btn-danger"%>
  <%else%>

  <%end%>
    <%= yield %>
  </body>
</html>

